/*#C88350 - tan brown
#C7AB50 - light green
#50C7BE - teal
#5059C7 - light purple blue
#8C8C8C - med gray
#ffffff	- white */
a{
	color: white;
}
.toDo {
	margin: 10px;
}
.inProgress{
	color: #4C7D4C;
}

.finished{
	color: blue;
}

.callout.primary {
	background-color: #c88350;
}
.off-canvas-content{
	background-color: #C7AB50;
}
button.button.expanded{
	background: #50c7BE;
}
button.button.expanded:hover{
	background: #5059C7;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px;
  border: 4px solid #fefefe; }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }
.image-overlay-content p {
	font-size: .75rem;
}
.image-overlay-content a {
	color: #000034;
}
.overlay-slide-in-left img {
  transition: all 0.3s ease-in-out;
}
.overlay-slide-in-left .image-overlay-content {
  background-image: url("../img/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-110%);
  opacity: 1;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 7px #ccc; 
}

.overlay-slide-in-left p {
  opacity: 0;
  color: #333;
  transition: all 0.2s linear; 
}
.overlay-slide-in-left .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border-radius: 7px; 
}  
.overlay-slide-in-left .button:hover {
    background-color: #444; 
}
.overlay-slide-in-left:hover .image-overlay-content {
  transform: translateX(0px); 
}
.overlay-slide-in-left:hover img {
  transform: translateX(80%);
  transition-delay: 0.1s; 
}
.overlay-slide-in-left:hover p {
  opacity: 1;
  transition-delay: 0.4s; 
}
blockquote, cite{
  color: white;
}

